body {
  background-color: rgb(78, 123, 78);
}

label {
  letter-spacing: 2px;
}

.jumbotron {
  letter-spacing: 10px;
  background: rgb(194, 180, 101);
}

#convertButton{
  letter-spacing: 2px;
}

#hidden-response {
  display: none;
}